@import '../../../scss/main.scss';

.section02{

    width: 100%;
    height: 1281px;
    margin-top: 10rem;  
    display: flex;
    flex-direction: column;
    

    .text-section02{
        width: 684px;
        height: 104px;
        margin-left: 20%;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        color: #01426A;

        span{
            color: $primary-500;

        }
    }
    
    
    .container-cards{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 7rem;

        .container-lg36{

            width: 30rem;
            height: 50rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10rem;
           

            
            .card-insights-lg3{
    
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 448px;
                height: 339px;
                background: $basic-200;
                
        
        
                img{    
                    width: 448px;
                    height: 136px;
                    object-fit: cover;
                }
                
                .content-card{
                    width: 70%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    font-family: 'Roboto', sans-serif;
        
                        h5{
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 14px;
                            text-transform: uppercase;
                            color: $primary-500;
                        }
                
                        p{
                            
                            font-size: 18px;
                            line-height: 21px;
                            font-weight: 400;
                
                        }
                
                        .link{
        
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 19px;
                            text-decoration-line: underline;
                            text-transform: uppercase;
                            color: $primary-500;
                            background-color: transparent;
                            border: none;
        
                        }
                }
            }
           
            .card-insights-lg6{
        
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 448px;
                height: 339px;
                margin-bottom: 4rem;
                background: $basic-200;

                img{    
                    width: 448px;
                    height: 136px;
                    object-fit: cover;
                }
                
                .content-card{
                    width: 70%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    font-family: 'Roboto', sans-serif;
                    
        
                        h5{
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 14px;
                            text-transform: uppercase;
                            color: $primary-500;
                        }
                
                        p{
                            
                            font-size: 18px;
                            line-height: 21px;
                            font-weight: 400;
                
                        }
                
                        .link{
        
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 19px;
                            text-decoration-line: underline;
                            text-transform: uppercase;
                            color: $primary-500;
                            background-color: transparent;
                            border: none;
        
                        }
                }
            }
        
        }
        
        
        .container-lg25{
            width: 30rem;
            height: 50rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 5rem;

           
            .card-insights-lg2{
        
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 448px;
                height: 339px;
                background: $secondary-TURQ-700;
          
        
        
                img{
                    width: 448px;
                    height: 136px;
                    object-fit: cover;
                }
                
                .content-card{
                    width: 70%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    font-family: 'Roboto', sans-serif;
                    color: white;
        
                        h5{
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 14px;
                            text-transform: uppercase;
                        }
                
                        p{
                            
                            font-size: 18px;
                            line-height: 21px;
                            font-weight: 400;
                
                        }
                
                        .link{
        
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 19px;
                            text-decoration-line: underline;
                            text-transform: uppercase;
                            background-color: transparent;
                            border: none;
                            color: white;
        
                        }
                }
            }
            .card-insights-lg5{
    
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 448px;
                height: 339px;
                margin-bottom: 4rem;
                background: $basic-200;
            
        
                img{    
                    width: 448px;
                    height: 136px;
                    object-fit: cover;
                }
                
                .content-card{
                    width: 70%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    font-family: 'Roboto', sans-serif;
                    
        
                        h5{
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 14px;
                            text-transform: uppercase;
                            color: $primary-500;
                        }
                
                        p{
                            
                            font-size: 18px;
                            line-height: 21px;
                            font-weight: 400;
                
                        }
                
                        .link{
        
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 19px;
                            text-decoration-line: underline;
                            text-transform: uppercase;
                            color: $primary-500;
                            background-color: transparent;
                            border: none;
        
                        }
                }
            }
        }

        .container-lg14{
            width: 30rem;
            height: 50rem;
            display: flex;
            flex-direction: column;
            align-items: center;

          

            .card-insights-lg1{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 448px;
                height: 339px;
                margin-bottom: 4rem;
                background: $secondary-TURQ-700;


                img{
                    width: 448px;
                    height: 136px;
                    object-fit: cover;
                }
                
                .content-card{
                    width: 70%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    font-family: 'Roboto', sans-serif;
                    color: white;
        
                        h5{
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 14px;
                            text-transform: uppercase;
                        }
                
                        p{
                            
                            font-size: 18px;
                            line-height: 21px;
                            font-weight: 400;
                
                        }
                
                        .link{
        
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 19px;
                            text-decoration-line: underline;
                            text-transform: uppercase;
                            background-color: transparent;
                            border: none;
                            color: white;
        
                        }
                }
            }
            .card-insights-lg4{
    
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 448px;
                height: 339px;
                background: $basic-200;
        
        
                img{    
                    width: 448px;
                    height: 136px;
                    object-fit: cover;
                }
                
                .content-card{
                    width: 70%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    font-family: 'Roboto', sans-serif;
                    
        
                        h5{
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 14px;
                            text-transform: uppercase;
                            color: $primary-500;
                        }
                
                        p{
                            
                            font-size: 18px;
                            line-height: 21px;
                            font-weight: 400;
                
                        }
                
                        .link{
        
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 19px;
                            text-decoration-line: underline;
                            text-transform: uppercase;
                            color: $primary-500;
                            background-color: transparent;
                            border: none;
        
                        }
                }
            }
        }
    }
    .container-dots-btn{
        width: 100%;
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        
        .navigation-dots{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 72px;
         
        
            .rectangle-47{
                width: 16px;
                height: 16px;
                background: $primary-500;
                box-sizing: border-box;
            }

            .rectangle-46{
                width: 12px;
                height: 12px;
                border: 2px solid #F2A900;
                box-sizing: border-box;
            }

            .rectangle-45{
                width: 12px;
                height: 12px;
                border: 2px solid #F2A900;
                box-sizing: border-box;
                
            }   
        }

        .btn-section02{
            width: 357px;
            height: 69px;
            background: $primary-500;
            color: white;
            border: none;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.09em;
            text-transform: uppercase;

        }
    }

}

@media (max-width: 375px){
    .section02{

        height: 100%;

        .text-section02{
            width: 90%;
            height: 150px;
            margin-left: 5%;
            font-size: 28px;
            line-height: 36px;
            color: #01426A;
        }

        .container-cards{
            margin: 0rem 0rem 0rem 0.5rem;

            .container-lg36{
                margin-right: 1rem;

                .card-insights-lg3{
                    width: 298px;
                    height: 357px;
                   
            
                    img{    
                        width: 298px;
                    }
                    
                    .content-card{
                        width: 80%;
                        margin-top: 0.5rem;
                    }
                }
               
                .card-insights-lg6{
            
                    width: 298px;
                    height: 357px;
    
                    img{    
                        width: 298px;
                       
                    }
                    
                    .content-card{
                        width: 80%;
                        margin-top: 0.5rem;
                    }
                }
            
            }
            
            
            .container-lg25{
                 margin-right: 1rem;

                .card-insights-lg2{
                    
                    width: 298px;
                    height: 357px;
                   
            
                    img{    
                        width: 298px;
                    }
                    
                    .content-card{
                        width: 80%;
                        margin-top: 0.5rem;
                    }
                }

                .card-insights-lg5{
                    
                    width: 298px;
                    height: 357px;
                   
            
                    img{    
                        width: 298px;
                    }
                    
                    .content-card{
                        width: 80%;
                        margin-top: 0.5rem;
                    }
                }
            }
    
            .container-lg14{
              
                margin-right: 1rem;

                .card-insights-lg1{
                    
                    width: 298px;
                    height: 357px;
                   
            
                    img{    
                        width: 298px;
                    }
                    
                    .content-card{
                        width: 80%;
                        margin-top: 0.5rem;
                    }
                }

                .card-insights-lg4{
                    
                    width: 298px;
                    height: 357px;
                   
            
                    img{    
                        width: 298px;
                    }
                    
                    .content-card{
                        width: 80%;
                        margin-top: 0.5rem;
                    }
                }
            }
        }
        
        

        .container-dots-btn{
            height: 130px;
            margin-top: 5rem;
            
            .btn-section02{
                width: 264px;
                height: 49px;
                font-size: 14px;
                line-height: 17px;

            }
        }
    }
}