@import '../../../scss/main.scss';

.section02{

    width: 100%;
    height: 1281px;
    margin-top: 10rem;  
    display: flex;
    flex-direction: column;
    
    
    .text-section02{
        width: 684px;
        height: 104px;
        margin-left: 20%;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        color: #01426A;

        span{
            color: $primary-500;

        }
    }
    
    .container-dots-btn{
        width: 100%;
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        

        .btn-section02{
            width: 357px;
            height: 69px;
            background: $primary-500;
            color: white;
            border: none;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.09em;
            text-transform: uppercase;

        }
    }

}

@media (max-width: 375px){
    .section02{

        .text-section02{
            width: 90%;
            height: 150px;
            margin-left: 5%;
            font-size: 28px;
            line-height: 36px;
            color: #01426A;
        }


        .container-dots-btn{
    
            .btn-section02{
                width: 264px;
                height: 49px;
                font-size: 14px;
                line-height: 17px;

            }
        }
    }
}