@import '../../scss/main.scss';

.dashboard{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem 0rem 0rem;
    height: 100%;
    
    .description{
        width: 920px;
        height: 93px;
        margin-top: 10rem;
        font-size: 24px;
        color: $basic-500;
        line-height: 31px;
        text-align: center;
        font-family: 'Barlow', sans-serif;
    
    }
    
}