@import '../../../scss/main.scss';

.section01{
    width: 100%;
    height: 735px;
    display: flex;
    justify-content: center;
    position: relative;
    

    img{
        width: 90%;
        height: 695px;
    }

    .box-destacado{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 65%;
        height: 310px;
        background-color: $basic-200;
        right:0%;
        top: 400px;
       


       .timer{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        

        .timer-01{
            width: 309px;
            height: 8px;
            background: $primary-500;
        }
        .timer-02{
            width: 309px;
            height: 8px;
            background: #FFD980;
        }

    }

        .texto-destacado{
            width: 85%;
            font-size: 2rem;
            line-height: 41px;
            color: $secondary-blue-900;
            font-family: 'Roboto', sans-serif;
            padding-left: 10%;
    
        }

        .saber-mas{
            font-size: 16px;
            text-decoration: underline;
            text-transform: uppercase;
            color: $primary-500;
            font-family: 'Roboto', sans-serif;
            padding: 0% 0% 2% 10%;
           
        }

    }
}

@media (max-width: 375px) {
    .section01{
        width: 100%;
        height: 735px;
        display: flex; 
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;

        img{
            width: 90%;
            height: 300px;
            margin: 0rem 1rem 0rem 1rem ;
        }

        .box-destacado{
            display: flex;
            flex-direction: column;
            position: unset;
            width: 90%;
            height: 310px;
            background-color: $basic-200;

            .texto-destacado{
                width: 90%;
                font-size: 24px;
                line-height: 28px;
        
            }

            .timer{
                height: 5%;

            }
        }
    }

}