@import '../../../scss/main.scss';

.nav-container{
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 

    .icon-container{
       display: none;
    }
 
    
    
    .nav{
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-family: 'Roboto', sans-serif;
        
    

        ul{
            width: 80%;
            height: 44px;
            font-size: 16px;
            color: $basic-500;
            margin-left: 3rem;
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-family: 'Roboto', sans-serif;
           

            li{
              display: flex;
              flex-direction: row;
              align-items: center;

              select{
                width: 6rem;
                border:none;
                font-family: 'Roboto', sans-serif;
                color: $basic-500;
                font-size: 16px;
                line-height: 20px;
                  option{
                      border:none;

                  }
              }

            }
        }

        .nav-rightside{
            width: 70px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: $basic-500;
            font-family: 'Roboto', sans-serif;
            margin-right: 3rem;
        }
    }
}

@media (max-width: 375px) {
    .nav-container{
        display: flex;
        justify-content: center;
    
        .nav{
        display: none;
        }

        .icon-container{
            width: 90%;
            display: flex;
            justify-content: flex-end;

            .icon{
                width: 1.5rem;
                height: 2.5rem;
                color:  #C4C4C4;
            }
        }
    }
}
